---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Qui suis-je | Outman" description="Outman KERFI GUETTEB">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Qui est Outman?"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="photo de profil d'outman"
				/>
				<CallToAction href="/assets/CV.pdf">
					Télécharger mon cv
					<Icon icon="rocket-launch" size="1.2em" />
				</CallToAction>				
			</Hero>



			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Bonjour,

						Je suis KERFI GUETTEB Outman, un développeur web passionné et engagé, spécialisé dans le développement web et mobile. Titulaire d'un titre professionnel de niveau 5 en développement web et web mobile, ainsi que d'une certification de développeur Java, j'ai entrepris une reconversion professionnelle il y a trois ans pour me consacrer pleinement à ma passion pour le monde du développement informatique. 
					</p>
				
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>TP développeur web et web mobile (Bac+2)</p>
					<p>Certificat développeur Java</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expérience </h2>
				<div class="content">
					<p>
						Au cours des trois dernières années, j'ai eu l'opportunité de mettre en pratique mes connaissances fraîchement acquises à travers des projets concrets. Mon parcours de reconversion m'a permis de développer des compétences pointues dans la création et la maintenance de sites web, ainsi que dans la conception d'applications web et mobiles.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences clés </h2>
				<div class="content">
					<ul>
						<li>Langages : HTML, CSS, Sass, JavaScript, Java, Php</li>
						<li>Frameworks : React, Angular, Spring, Symfony, Laravel</li>
						<li>Conception et gestion de bases de données : MySQL</li>
						<li>Développement mobile : React Native</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Approche professionnelle </h2>
				<div class="content">
					<p>
						Mon approche professionnelle repose sur la recherche constante d'amélioration et l'adaptation aux nouvelles technologies. J'ai une passion pour la résolution de problèmes complexes et suis constamment à la recherche de nouvelles opportunités pour approfondir mes compétences et rester à jour dans un secteur en constante évolution.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Objectif professionnel</h2>
				<div class="content">
					<p>
						En tant que développeur web, mon objectif est de contribuer au succès des projets en fournissant des solutions techniques robustes et innovantes. Ma démarche consiste à collaborer de manière proactive avec les équipes, à résoudre des défis complexes et à garantir la qualité des produits développés.
					</p>
					<p>
						Je suis actuellement à la recherche de nouvelles opportunités professionnelles qui me permettront de mettre à profit mes compétences et mon expérience dans un environnement stimulant.
					</p>
					<p>
						N'hésitez pas à consulter mon portfolio pour découvrir certains de mes projets et réalisations. Je me tiens à votre disposition pour discuter de la manière dont ma passion et mon expertise pourraient contribuer à vos projets.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.cv{
		color: black;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
