---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Création Web</h2>
		<p>Découvrez un univers où la passion pour le développement web rencontre la créativité. Explorez mes projets innovants qui repoussent les limites du design et de la technologie, créant une expérience utilisateur exceptionnelle.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>De l'Idée à la Réalité</h2>
		<p>De l'idéation à la réalisation, plongez dans un portfolio où chaque ligne de code raconte une histoire. Avec une expertise pointue en développement web et mobile, je transforme des idées en solutions numériques robustes et esthétiques.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>L'Innovation au Cœur des Projets</h2>
		<p>Parcourez un portfolio centré sur l'innovation. Chaque projet est une démonstration de ma capacité à intégrer les dernières technologies, des frameworks modernes aux approches novatrices, pour créer des expériences digitales qui captivent et impressionnent..</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
